In [60]:
import numpy as np
import pandas as pd
from numpy import single, double, longdouble
import dataframe_image as dfi
import matplotlib.pyplot as plt

pd.set_option("display.precision", 8)

In [61]:
def first_formula(x0, n):
    result = np.empty([n], dtype=x0.dtype)
    result[0] = x0
    
    for i in range(1, n):
        result[i] = result[i-1] + 3*result[i-1]*(1 - result[i - 1])
    
    return result

def second_formula(x0, n):
    result = np.empty([n], dtype=x0.dtype)
    result[0] = x0
    
    for i in range(1, n):
        result[i] = 4*result[i-1] - 3*result[i-1]*result[i - 1]
    
    return result

In [62]:
def test_first_formula(x0, n):
    r1 = first_formula(single(x0), n)
    r2 = first_formula(double(x0), n)
    r3 = first_formula(longdouble(x0), n)
    return [r1, r2, r3]

def test_second_formula(x0, n):
    r1 = second_formula(single(x0), n)
    r2 = second_formula(double(x0), n)
    r3 = second_formula(longdouble(x0), n)
    return [r1, r2, r3]

In [67]:
t1 = test_first_formula(0.1, 1000)
data1 = {'float':t1[0],
        'double':t1[1],
        'long double':t1[2]}
 
df1 = pd.DataFrame(data1)
df1[20:40]

         float      double  long double
20  0.57104295  0.55738215   0.55738215
21  1.30590165  1.29750402   1.29750402
22  0.10746925  0.13946605   0.13946605
23  0.39522809  0.49951187   0.49951187
24  1.11229658  1.24951115   1.24951115
25  0.73757529  0.31421025   0.31421025
26  1.31824923  0.96065676   0.96065675
27  0.05965384  1.07404281   1.07404282
28  0.22793962  0.83546735   0.83546735
29  0.75588906  1.24785232   1.24785233
30  1.30945146  0.32000305   0.32000302
31  0.09381646  0.97280635   0.97280629
32  0.34886125  1.05216881   1.05216893
33  1.03033245  0.88749763   0.88749736
34  0.93657494  1.18703439   1.18703475
35  1.11478186  0.52098562   0.52098449
36  0.73091167  1.26966443   1.26966345
37  1.32095110  0.24251443   0.24251799
38  0.04906896  0.79361798   0.79362702
39  0.18905254  1.28498342   1.28497654

In [66]:
t2 = test_second_formula(0.1, 1000)
data2 = {'float':t2[0],
        'double':t2[1],
        'long double':t2[2]}
 
df2 = pd.DataFrame(data2)
df2

          float      double  long double
0    0.10000000  0.10000000   0.10000000
1    0.37000000  0.37000000   0.37000000
2    1.06930006  1.06930000   1.06930000
3    0.84699237  0.84699253   0.84699253
4    1.23578119  1.23578108   1.23578108
..          ...         ...          ...
995  0.09598953  0.44919168   0.61625872
996  0.35631615  1.19144723   1.32571045
997  1.04438102  0.50714942   0.03031720
998  0.90532893  1.25699608   0.11851141
999  1.16245425  0.28786688   0.43191078

[1000 rows x 3 columns]