In [228]:
import numpy as np
import pandas as pd
from numpy import single, double, longdouble
import dataframe_image as dfi
import matplotlib.pyplot as plt

pd.set_option("display.precision", 8)

In [229]:
def first_formula(x0, n):
    result = np.empty([n], dtype=x0.dtype)
    result[0] = x0
    
    for i in range(1, n):
        result[i] = result[i-1] + 3*result[i-1]*(1 - result[i - 1])
    
    return result

def second_formula(x0, n):
    result = np.empty([n], dtype=x0.dtype)
    result[0] = x0
    
    for i in range(1, n):
        result[i] = 4*result[i-1] - 3*result[i-1]*result[i - 1]
    
    return result

In [230]:
def test_first_formula(x0, n):
    r1 = first_formula(single(x0), n)
    r2 = first_formula(double(x0), n)
    r3 = first_formula(longdouble(x0), n)
    return [r1, r2, r3]

def test_second_formula(x0, n):
    r1 = second_formula(single(x0), n)
    r2 = second_formula(double(x0), n)
    r3 = second_formula(longdouble(x0), n)
    return [r1, r2, r3]

In [231]:
t1 = test_first_formula(0.1, 600)
data = {'float':t1[0],
        'double':t1[1],
        'long double':t2[2]}
 
df1 = pd.DataFrame(data)
df1

          float      double  long double
0    0.10000000  0.10000000   0.10000000
1    0.37000000  0.37000000   0.37000000
2    1.06930006  1.06930000   1.06930000
3    0.84699237  0.84699253   0.84699253
4    1.23578119  1.23578108   1.23578108
..          ...         ...          ...
595  0.04759965  0.96052371   0.99443991
596  0.18360142  1.07427744   1.01102745
597  0.63327724  0.83489370   0.97758030
598  1.32998872  1.24843233   1.04333148
599  0.01334490  0.31797947   0.90770419

[600 rows x 3 columns]

In [232]:
t2 = test_second_formula(0.1, 600)
data = {'float':t2[0],
        'double':t2[1],
        'long double':t2[2]}
 
df2 = pd.DataFrame(data)
df2

          float      double  long double
0    0.10000000  0.10000000   0.10000000
1    0.37000001  0.37000000   0.37000000
2    1.06930001  1.06930000   1.06930000
3    0.84699251  0.84699253   0.84699253
4    1.23578111  1.23578108   1.23578108
..          ...         ...          ...
595  1.30166503  0.99443991   0.99443991
596  0.12366458  1.01102745   1.01102745
597  0.44877953  0.97758030   0.97758030
598  1.19090892  1.04333148   1.04333148
599  0.50884351  0.90770419   0.90770419

[600 rows x 3 columns]